{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<!-- <form action="" method="POST">
    {% csrf_token %}
    {{formulario}}
    <input  type="submit" value="Entrar" class="btn btn-primary">
</form> -->
<!-- Contenido -->
<div class="container col-sm-6">
    <div class="borde col-sm-12">
        <div class="separate">
            <form class="boton" action="" method="POST">
                {% csrf_token %}
                <h1 class="display-4">Iniciar Sesion</h1>
                <hr class="my-4">
                <div class="form-group">
                    <!-- <label for="exampleInputEmail1">Numero de Identificacion</label> -->
                    {{ formulario.paciente.errors }}
                    <label for="{{ formulario.paciente.id_for_label }}">Identificacion</label>
                    {{ formulario.paciente }}

                    <!-- {{formulario.paciente}} -->
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    {{formulario.clave}} 
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                </div>
                <input  type="submit" value="Entrar" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock contenido %}
